div(class="container-lg clearfix")
  div(class="col-9 float-left")
    div(class="d-flex flex-row flex-items-center")
      img(class="avatar" src="https://github.com/jonrohan.png?v=3&s=96" width="72" height="72")
      div(class="ml-4")
        div(class="h1") Airbnb
        div(class="f2 mt-n2") Book accommodations around the world.


    div(class="Box Box--condensed my-2")
      div(class="Box-header")
        div(class="")
        a(class="Link" href="#") @airbnb
        span created by Michael West
        a(href="#" class="Link--secondary") (@west)
        span 24 hours ago
      div(class="Box-row")
        span(class="Label mr-2") tech
        span(class="Label mr-2") hotel 
        a(href="#" class="Link") https://airbnb.com
      div(class="Box-row")
        span Founded in August of 2008 and based in San Francisco, California, Airbnb is a trusted community marketplace for people to list, discover, and book unique accommodations around the world — online or from a mobile phone. Whether an apartment for a night, a castle for a week, or a villa for a month, Airbnb connects people to unique travel experiences, at any price point, in more than 33,000 cities and 192 countries. And with world-class customer service and a growing community of users, Airbnb is the easiest way for people to monetize their extra space and showcase it to an audience of millions.
      div(class="Box-footer")
        btn(class="btn mr-2") Like (14)
        btn(class="btn mr-2") Share
        btn(class="btn") Save

    div(class="Box Box--condensed mb-2")
      div(class="Box-header")
        div(class="h4") Founders 
      div(class="Box-row")
        div(class="d-flex")
          img(class="avatar" src="https://github.com/jonrohan.png?v=3&s=96" width="72" height="72")
          div(class="ml-3")
            div(class="h3") Nathan Blecharczyk
            div(class="mt-1") Nathan Blecharczyk is the co-founder, Chief Strategy Officer, and Chairman of Airbnb China. Nathan plays a leading role in driving key strategic initiatives across the global business. Previously he oversaw the creation of Airbnb’s engineering, data science, and performance marketing teams. Nathan became an entrepreneur in his youth, running a business while he was in high school that sold to clients in more than 20 countries. He earned a degree in Computer Science from Harvard University.

      div(class="Box-row")
        div(class="d-flex")
          img(class="avatar" src="https://github.com/jonrohan.png?v=3&s=96" width="72" height="72")
          div(class="ml-3")
            div(class="h3") James Brown 
            div(class="mt-1") Nathan Blecharczyk is the co-founder, Chief Strategy Officer, and Chairman of Airbnb China. Nathan plays a leading role in driving key strategic initiatives across the global business. Previously he oversaw the creation of Airbnb’s engineering, data science, and performance marketing teams. Nathan became an entrepreneur in his youth, running a business while he was in high school that sold to clients in more than 20 countries. He earned a degree in Computer Science from Harvard University.

  div(class="col-3 p-2 float-left")
    div(class="Box Box--condensed mb-2")
      div(class="Box-header")
        div(class="h4") Airbnb
      div(class="Box-body")
        div Founded: 2009
        div Team size: 34
        div Location: San Fransisco, California
        div Website
        button(class="btn btn-primary)
          svg(class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox=" 0 0 16 16" width="16" height="16")
            path(fill-rule="evenodd" d="M7.47 10.78a.75.75 0 001.06 0l3.75-3.75a.75.75 0 00-1.06-1.06L8.75 8.44V1.75a.75.75 0 00-1.5 0v6.69L4.78 5.97a.75.75 0 00-1.06 1.06l3.75 3.75zM3.75 13a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5z")

    div(class="Box Box--condensed")
      div(class="Box-header")
        div(class="h4") Trending Ideas
      div(class="Box-body") Test
    

